body {
    font-family: Arial, sans-serif;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f3f3f3;
}

button {
background-color: rgb(153, 238, 227);
width: 100px;
height: 30px;
border:none;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
